* {
    font-family: monospace;
    margin: 10;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, pink, rgb(116, 198, 243));
    background-color: pink;
    
}

h1 {
    padding: 30px;
}

main {
    display: flex;
}

aside {
    margin: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 300px;
    margin-top: 20px;
}

.radio {
    display: flex;
}

.food-card {
    border: 5px solid rgb(1, 0, 8);
    padding: 30px;
    margin: 50px;
    background-color: rgb(223, 248, 159);
    color: rgb(7, 0, 0);
}

.food-card > h2 {
    margin-bottom: 5px;
}





.bottom-picture {
    display: block;
    max-width: 100%; 
    margin: 0 auto; 
    padding-top: 20px; 
}

button {
    font-size: 18px;
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease; 
}
button:hover {
    background-color: #a3f8a7; 
}

#name-input {
    width: 90%; 
    padding: 10px; 
    font-size: 15px; 
}

#food-select {
    font-size: 15px; 
    padding: 15px; 
}
.radio label {
    font-size: 18px;
}

.food-card h2,
.food-info,
.day-info {
    font-size: 20px; 
}

label[for="name-input"] {
    font-size: 20px; 
}

label[for="food-select"] {
    font-size: 20px; 
}

label[for^="day-"] {
    font-size: 20px; 
}

aside h4 {
    font-size: 20px; 
}

.container {
    margin: 0 100px; 
}

aside button {
    margin-top: 30px; 
}

header h1 {
    font-size: 45px; 
    margin: 0; 
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px); 
    }
}

aside h2 {
    animation: waveAnimation 2s ease-in-out infinite; 
}

aside h2 {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(45deg, #ff9900, #ff0077); 
    -webkit-background-clip: text; 
    color: transparent; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}




