* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, pink, rgb(116, 198, 243));
    background-color: pink;
    
}

h1 {
    padding: 20px;
}

main {
    display: flex;
}

aside {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;
    margin-top: 20px;
}

.radio {
    display: flex;
}

.food-card {
    border: 1px solid rgb(1, 0, 8);
    padding: 20px;
    margin: 20px;
}

.food-card > h2 {
    margin-bottom: 10px;
}

.food-card > button {
    margin-top: 10px;
    padding: 2px 10px;
}

.cute-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
   
    padding: 10px 0;
    box-sizing: border-box;
}

.cute-pictures img {
    max-width: 400px; 
    margin: 5 5px; 
}